{% extends "base.html" %}

{% block titulo %}
    Portal Biblioteca - Cadastro
{% endblock %}

{% block conteudo %}
    <div class="mycard">
        <h1>Cadastre-se</h1>
        <center>
        <form action="{% url 'cadastro' %}" method="POST">
            {% csrf_token %}
            Usuário: <input type="text" placeholder="Usuário ..." name="usuario">
            <br>
            <br>
            E-mail: <input type="email" placeholder="E-mail ..." name="email">
            <br>
            <br>
            Senha: <input type="password" placeholder="Senha ..." name="senha">
            <br>
            <br>
            <input type="submit" value="Cadastrar">
        </form>
        </center>
    </div>
{% endblock %}